@import 'styles/consts';

.Login {
  background-color: @app-color__smokyWhite;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 167px;

  .LoginContent {
    width: 377px;
    height: 300px;

    .logoBlock {
      padding-bottom: 16px;
      justify-content: center;
      align-items: center;

      .title {
        margin: 0;
        padding-left: 10px;
        color: @app-color__darkGrayBlue;
      }
    }
  }
}