@import 'styles/consts';

.AdminTitle {
  .title {
    font-weight: 400;
    font-size: 29px;
    line-height: 33px;
    letter-spacing: -0.725px;
    color: @app-color__darkGrayBlue;
    padding-bottom: 29px;
    margin: 0;
  }
}