@import 'styles/consts';

.Order {

  .mainContent {
    position: relative;

    .headerContainer {
      background-color: @app-primary-white;

      .breadcrumbContainer {
        border-top: @app-primary-gray__light 1px solid;
        border-bottom: @app-primary-gray__light 1px solid;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 32px;
      }
    }
  }

  .modalContainer {
    width: 405px;
    height: 157px;
    padding: 22px 24px 24px 24px;
    text-align: center;

    .modalText {
      font-size: 24px;
      padding-bottom: 31px;
    }

    button {
      height: 48px;
    }

    .confirmBtn {
      width: 177px;
      border-radius: 8px;
    }

    .backBtn {
      width: 164px;
      border-radius: 4px;
    }
  }
}

@media (max-width: 575px) {
  .Order {

    .modalContainer {
      width: 100%;

      .confirmBtn {
        width: 100%;
        margin-bottom: 10px;
      }

      .backBtn {
        width: 100%;
      }
    }
  }
}