@import 'styles/consts';

.Order {

  .mainContent {
    position: relative;

    .headerContainer {
      background-color: @app-primary-white;

      .breadcrumbContainer {
        border-top: @app-primary-gray__light 1px solid;
        border-bottom: @app-primary-gray__light 1px solid;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 32px;
      }
    }
  }
}