@app-primary-color: #0EC261;
@app-primary-black: #121212;
@app-primary-white: #FFFFFF;
@app-primary-blue: #007BFF;
@app-primary-gray__dark: #999999;
@app-primary-gray__light: #EEEEEE;
@app-second-black: #151B1F;
@app-second-gradient-color: #039F67;
@app-third-white: #fbfbfb;
@app-navbar-color: #111518;

@app-color__darkGreen: #13493F;
@app-color__indianGreen: #0C7B1B;

@app-color__gentianBlue: #132949;
@app-color__greenPineKrayola: #0C7B67;

@app-color__darkYellowish: #493013;
@app-color__rubyRed: #7B0C3B;

@app-color__purpleBlue: #281349;
@app-color__darkPurplishPurple: #720C7B;

@app-navbar-drawer-color__opacity50: rgba(17, 21, 24, 0.5);
@app-primary-color__opacity20: rgba(14, 194, 97, 0.2);

@app-color__smokyWhite: #F5F6F8;
@app-color__darkGrayBlue: #3D5170;
@app-color__grayishBlue: #495057;
@app-color__paleBlue: #BECAD6;
@app-color__lightGrey: #CACEDB;
@app-color__lightBlue: #767F9D;
@app-color__greyBlue: #818ea3;
@app-color__blueberry: #5A6169;
@app-color__vinous: #C4183C;
@app-color__concrete: #868E96;
@app-color__concrete2: #889098;
@app-color__concreteLight: #ABB6BF;
@app-color__marble: #E9ECEF;

@app-box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12);
@app-box-shadow__second: 0px 2px 0px rgba(90, 97, 105, 0.11), 0px 4px 8px rgba(90, 97, 105, 0.12), 0px 10px 10px rgba(90, 97, 105, 0.06), 0px 7px 70px rgba(90, 97, 105, 0.1);
@app-box-shadow__white: 0px -0.5px 0px #D7DAE3;

@transition: 0.2s;

@app-screen-xl: 1439px;
@app-screen-lg: 1023px;
@app-screen-md: 767px;
@app-screen-sm: 319px;
