@import "styles/consts";

.formModel {
  padding-bottom: 20px;

  .radioButtons {
    position: sticky;
    top: 144px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    z-index: 1;
    background-color: @app-primary-white;
  }
}

@media (max-width: 1243px) {
  .formModel {
    .radioButtons {
      height: 130px;
    }
  }
}

@media (max-width: 991px) {
  .formModel {
    padding-bottom: 0;

    .radioButtons {
      height: 100px;
    }
  }
}

@media (max-width: 767px) {
  .formModel {
    .radioButtons {
      top: 112px;
    }
  }
}

@media (max-width: 595px) {
  .formModel {
    .radioButtons {
      height: 130px;
    }
  }
}

@media (max-width: 463px) {
  .formModel {
    .radioButtons {
      top: 238px;
    }
  }
}

@media (max-width: 319px) {
  .formModel {
    .radioButtons {
      height: 200px;
    }
  }
}