@import '../../../utils/variables';

.Main {
  min-height: 100vh;

  .Nav {
    position: relative;
    height: 100vh;
    text-align: center;
    background-color: @app-second-black;

    .burger {
      padding-top: 23px;
      color: @app-primary-white;
    }

    .navFooter {
      position: absolute;
      width: 100%;
      bottom: 10px;

      .langButton {
        display: flex;
        justify-content: center;
      }
    }
  }

  .mainContent {
    position: relative;
    height: 100vh;

    .header {
      padding-top: 32px;
    }

    .Logo {
      color: @app-primary-color;
      font-size: 30px;
      font-weight: bold;
    }

    .headerIcn {
      padding-right: 5px;
    }

    .body {
      padding-top: 116px;

      .button {
        margin-top: 60px
      }
    }

    .mainFooter {
      position: absolute;
      width: 100%;
      bottom: 20px;
    }
  }

  .container {
    padding-left: 9%;
    padding-right: 9%;
  }

  .text__darkGray {
    color: @app-primary-gray__dark;
  }

  .text__primaryColor {
    color: @app-primary-color;
  }

  .text__white {
    color: @app-primary-white;
  }

  .text__bold {
    font-weight: bold;
  }

  .text__right {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .text__26px {
    font-size: 26px;
  }

  .text__light {
    font-weight: 300;
  }

  .carousel {
    height: 100vh;
  }
}