@import './src/utils/varuables';

.Main {
  min-height: 100vh;

  .Nav {
    padding-top: 32px;
    text-align: center;
    background-color: @app-second-black;
    color: @app-primary-white;
  }

  .container {
    padding-left: 9%;
    padding-right: 9%;
  }

  .header {
    padding-top: 32px;
  }

  .Logo {
    color: @app-primary-color;
    font-size: 30px;
    font-weight: bold;
  }

  .headerIcn {
    padding-right: 5px;
  }

  .text__darkGray {
    color: @app-primary-gray__dark;
  }

  .text__primaryColor {
    color: @app-primary-color;
  }

  .text__white {
    color: @app-primary-white;
  }

  .text__bold {
    font-weight: bold;
  }

  .header__right {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .text__26px {
    font-size: 26px;
  }

  .text__light {
    font-weight: lighter;
  }

  .body {
    padding-top: 116px;

    .button {
      margin-top: 60px
    }
  }
}