@app-primary-color: #0EC261;
@app-primary-black: #121212;
@app-primary-white: #FFFFFF;
@app-primary-gray__dark: #999999;
@app-primary-gray__light: #EEEEEE;
@app-second-black: #151B1F;
@app-second-gradient-color: #039F67;
@app-navbar-color: #111518;

@app-navbar-drawer-color__opacity50: rgba(17, 21, 24, 0.5);
@app-primary-color__opacity20: rgba(14, 194, 97, 0.2);

@transition: 0.2s;