@import '../../../../utils/variables';

.FormModel {
  .RadioGroup {
    .Radio {
      color: @app-primary-gray__dark;

      span:nth-child(1) {

        span {
          border-color: @app-primary-gray__dark;
        }

        input[type=radio]:checked + span {
          border: none;
          background-color: @app-primary-color;
        }

        input[type=radio]:checked + span:after {
          background-color: @app-primary-white;
        }
      }
    }
    .RadioActive {
      color: @app-primary-black;
    }
  }

  .cards {
    padding-top: 50px;

    .card {
      border: 1px solid @app-primary-gray__light;
      cursor: pointer;
      padding: 15px;

      .cardTitleContainer {
        .cardTitle {
          font-weight: normal;
          margin-bottom: 0;
        }
        .cardText {
          font-size: 14px;
          color: @app-primary-gray__dark;
        }
      }

      .imgContainer {
        display: flex;
        justify-content: right;

        .img {
          width: 256px;
          height: 116px;
        }
      }
    }

    .card:hover {
      border: 1px solid @app-primary-gray__dark;
      cursor: pointer;
    }

    .card:active {
      border: 1px solid @app-primary-color;
    }
  }
}