@import 'src/styles/consts';

.FormModel {
  .radioBtnsAffix {
    width: 100%;
    padding: 10px 0;
    background-color: @app-primary-white;
  }

  .cards {
    padding-top: 50px;

    .card {
      width: 100%;
      height: 100%;
      background-color: transparent;
      text-align: left;
      border: 1px solid @app-primary-gray__light;
      cursor: pointer;
      padding: 15px;

      .cardTitleContainer {
        .cardTitle {
          font-weight: normal;
          margin-bottom: 0;
        }
        .cardText {
          font-size: 14px;
          color: @app-primary-gray__dark;
        }
      }

      .imgContainer {
        display: flex;
        justify-content: right;

        .img {
          width: 256px;
          height: 116px;
        }
      }
    }

    .card:hover {
      border: 1px solid @app-primary-gray__dark;
      cursor: pointer;
    }

    .card:active {
      border: 1px solid @app-primary-color;
    }
  }

  .Pagination {
    padding-top: 20px;
  }
}

@media (max-width: 670px) {
  .FormModel {
    .cards {
      .card {
        .imgContainer {
          .img {
            width: 200px;
            height: 100px;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .FormModel {
    .cards {
      .card {
        .imgContainer {
          .img {
            width: 256px;
            height: 126px;
          }
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .FormModel {
    .cards {
      .card {
        .imgContainer {
          .img {
            width: 200px;
            height: 100px;
          }
        }
      }
    }
  }
}