@import 'styles/consts';

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../src/fonts/Roboto/Robotothin.woff2') format('woff2'), url('../src/fonts/Roboto/Robotothin.woff') format('woff'), url('../src/fonts/Roboto/Robotothin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../src/fonts/Roboto/Robotothinitalic.woff2') format('woff2'), url('../src/fonts/Roboto/Robotothinitalic.woff') format('woff'), url('../src/fonts/Roboto/Robotothinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('../src/fonts/Roboto/Robotolight.woff2') format('woff2'), url('../src/fonts/Roboto/Robotolight.woff') format('woff'), url('../src/fonts/Roboto/Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../src/fonts/Roboto/Robotolightitalic.woff2') format('woff2'), url('../src/fonts/Roboto/Robotolightitalic.woff') format('woff'), url('../src/fonts/Roboto/Robotolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('../src/fonts/Roboto/Roboto.woff2') format('woff2'), url('../src/fonts/Roboto/Roboto.woff') format('woff'), url('../src/fonts/Roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'), url('../src/fonts/Roboto/Robotoitalic.woff2') format('woff2'), url('../src/fonts/Roboto/Robotoitalic.woff') format('woff'), url('../src/fonts/Roboto/Robotoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../src/fonts/Roboto/Robotomedium.woff2') format('woff2'), url('../src/fonts/Roboto/Robotomedium.woff') format('woff'), url('../src/fonts/Roboto/Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../src/fonts/Roboto/Robotomediumitalic.woff2') format('woff2'), url('../src/fonts/Roboto/Robotomediumitalic.woff') format('woff'), url('../src/fonts/Roboto/Robotomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../src/fonts/Roboto/Robotobold.woff2') format('woff2'), url('../src/fonts/Roboto/Robotobold.woff') format('woff'), url('../src/fonts/Roboto/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../src/fonts/Roboto/Robotobolditalic.woff2') format('woff2'), url('../src/fonts/Roboto/Robotobolditalic.woff') format('woff'), url('../src/fonts/Roboto/Robotobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'), url('../src/fonts/Roboto/Robotoblack.woff2') format('woff2'), url('../src/fonts/Roboto/Robotoblack.woff') format('woff'), url('../src/fonts/Roboto/Robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../src/fonts/Roboto/Robotoblackitalic.woff2') format('woff2'), url('../src/fonts/Roboto/Robotoblackitalic.woff') format('woff'), url('../src/fonts/Roboto/Robotoblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

#root {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* Переписываю ширину для навигационного sidebar */
.ant-drawer.ant-drawer-left.ant-drawer-open {
  .ant-drawer-content-wrapper {
    // important необходим, так как библиотека изначально накладывает фиксированные инлайн стили
    width: 54.2vw !important;
  }
}

@media (max-width: 1439px) {
  .ant-drawer.ant-drawer-left.ant-drawer-open {
    .ant-drawer-content-wrapper {
      // important необходим, так как библиотека изначально накладывает фиксированные инлайн стили
      width: 58.4vw !important;
    }
  }
}

@media (max-width: 1023px) {
  .ant-drawer.ant-drawer-left.ant-drawer-open {
    .ant-drawer-content-wrapper {
      // important необходим, так как библиотека изначально накладывает фиксированные инлайн стили
      width: 100% !important;
    }
  }
}

/* Переписываю активный dot в каруселе ant design */
.ant-carousel .slick-slider .slick-dots li.slick-active button {
  background: @app-primary-color;
}

/* Переписываю стили выпадающего меню из библиотеки ant design */

// Стили для выбранного item
.ant-select-dropdown .rc-virtual-list .rc-virtual-list-holder-inner .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: @app-primary-color;
  background: none;
  font-weight: normal;
}

// Стили для item
.ant-select-dropdown .rc-virtual-list .rc-virtual-list-holder-inner .ant-select-item {
  background: none;
}

// Стили для наведения на item
.ant-select-dropdown .rc-virtual-list .rc-virtual-list-holder-inner .ant-select-item:hover {
  color: @app-primary-color;
  background: none;
}

// Стили скроллбара
.ant-select-dropdown .rc-virtual-list .rc-virtual-list-scrollbar {
  //important необходим, чтобы переписать толщину скроллбара в выпадающем меню
  width: 4px !important;
}

/* Переписываю стили для кнопки в ant design */

// Отключаю серый фильтр на кнопке при загрузке
.ant-btn.ant-btn-primary.ant-btn-loading::before {
  display: none;
}

// Отключаю текст в кнопке при загрузке и увеличиваю размер лоадера
.ant-btn.ant-btn-primary.ant-btn-loading {
  span {
    display: none;
  }

  .ant-btn-loading-icon {
    display: block;
    margin: 0 auto;

    span {
      display: block;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

/* Переписываю стили checkbox из библиотеки ant design */

.ant-checkbox-wrapper {
  .ant-checkbox {
    .ant-checkbox-inner {
      border-color: @app-primary-gray__dark;
    }
  }

  span:last-child {
    color: @app-primary-gray__dark;
  }
}

.ant-checkbox-wrapper.ant-checkbox-wrapper-checked {
  .ant-checkbox.ant-checkbox-checked {
    .ant-checkbox-inner {
      background-color: @app-primary-white;
      border-color: @app-primary-color;
    }

    .ant-checkbox-inner::after {
      border-width: 3px;
      width: 10px;
      height: 15px;
      top: 40%;
    }
  }

  .ant-checkbox.ant-checkbox-checked::after {
    border: none;
  }

  span:last-child {
    color: @app-primary-black;
  }
}

/* Переписываю стили datepicker из библиотеки ant design */
.ant-picker-dropdown.ant-picker-dropdown-placement-bottomLeft {
  .ant-picker-panel-container {
    .ant-picker-panel {
      .ant-picker-datetime-panel {
        .ant-picker-time-panel {
          .ant-picker-content {
            .ant-picker-time-panel-column::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
.ant-picker-dropdown.ant-picker-dropdown-placement-bottomRight {
  .ant-picker-panel-container {
    .ant-picker-panel {
      .ant-picker-datetime-panel {
        .ant-picker-time-panel {
          .ant-picker-content {
            .ant-picker-time-panel-column::after {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 393px) {
  .ant-picker-dropdown.ant-picker-dropdown-placement-bottomLeft {
    .ant-picker-panel-container {
      .ant-picker-panel {
        .ant-picker-datetime-panel {
          flex-wrap: wrap;

          .ant-picker-date-panel {
            width: 100%;

            .ant-picker-body {
              .ant-picker-content {
                width: 100%;
              }
            }
          }

          .ant-picker-time-panel {
            width: 100%;
          }
        }
      }
    }
  }

  .ant-picker-dropdown.ant-picker-dropdown-placement-bottomRight {
    .ant-picker-panel-container {
      .ant-picker-panel {
        .ant-picker-datetime-panel {
          width: 100%;
          flex-wrap: wrap;

          .ant-picker-date-panel {
            width: 100%;

            .ant-picker-body {
              .ant-picker-content {
                width: 100%;
              }
            }
          }

          .ant-picker-time-panel {
            width: 100%;
          }
        }
      }
    }
  }
}

/* Переписываю стили для pagination ant design */

// Если type = blue
.ant-pagination.mini.blue {
  .ant-pagination-prev button {
    color: @app-primary-blue;
  }

  .ant-pagination-jump-prev span {
    color: @app-primary-blue;
  }

  .ant-pagination-item {
    a {
      font-size: 15px;
      color: @app-primary-blue;
    }
  }

  .ant-pagination-item-active {
    background-color: @app-primary-blue;
    position: relative;
    border: none;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding-top: 1px;
    padding-right: 1px;

    a {
      color: @app-primary-white;
    }
  }

  .ant-pagination-jump-next span {
    color: @app-primary-blue;
  }

  .ant-pagination-next button {
    color: @app-primary-blue;
  }

  .ant-pagination-options {
    .ant-select.ant-pagination-options-size-changer {
      color: @app-primary-blue;

      .ant-select-selector {
        border-color: @app-primary-blue;
      }

      .ant-select-item.ant-select-item-option:hover  {
        color: @app-primary-blue;
      }

      .ant-select-item.ant-select-item-option.ant-select-item-option-selected {
        color: @app-primary-blue;
      }
    }
  }
}

/* Переписываю стили для confirm modal из библиотеки ant design */
.appConfirmModal {
  .ant-modal-content {
    .ant-modal-body {
      .ant-modal-confirm-body-wrapper {
        .ant-modal-confirm-btns {
          display: flex;
          align-items: end;
        }
      }
    }
  }
}

/* Переписываю стили для ant menu*/
.ant-drawer-body .ant-menu .ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background-color: @app-navbar-color;
}