@import 'styles/consts';

.AdminMobileSidebar {
  height: 60px;
  width: 100%;
  color: @app-color__darkGrayBlue;

  .burger {
    color: @app-color__darkGrayBlue;
  }


}
.Drawer {
  .title {
    padding-left: 49px;
    padding-top: 23px;
    height: 68px;
    border-bottom: 1px solid @app-color__smokyWhite;
    font-size: 16px;
  }

  .menu {
    width: 100%;

    .item {
      height: 57px;
      border-bottom: 1px solid @app-color__smokyWhite;
      margin: 0;
      padding: 8px 26px 0 26px;
    }

    .item:hover {
      color: @app-primary-blue;
      background-color: @app-third-white;
      border-left: 4px solid @app-primary-blue;
    }

    .selected {
      color: @app-primary-blue;
      background-color: @app-third-white;
      border-left: 4px solid @app-primary-blue;
    }
  }
}
