@import 'styles/consts';

.Radio {
  padding: 2px 0;
  color: @app-primary-gray__dark;
  text-transform: lowercase;

  span:nth-child(1) {

    span {
      border-color: @app-primary-gray__dark;
    }

    input[type=radio]:checked + span {
      border: none;
      background-color: @app-primary-color;
    }

    input[type=radio]:checked + span:after {
      background-color: @app-primary-white;
    }
  }

  ::first-letter {
    text-transform: uppercase;
  }
}

.RadioActive {
  color: @app-primary-black;
}